name: publish-gh-pages
on:
  push:
    branches: S2021

jobs:
  gh-pages:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
      
    - name: Prepare _site
      run: |
        echo generate main html page in _site/
        mkdir _site
        cd lectures
        npm install --no-optional
        cd ..

    - name: Generate main page
      run: |
        cp .assets/template.html _site/index.html
        sed 's/\](\(.*\)\.html) *|/\](\1.html) ([md](\1.md), [pdf](\1.pdf)) |/' < schedule.md > schedule_.md
        sed -i -e '/^\[Schedule\]/r schedule_.md' README.md
        lectures/node_modules/marked/bin/marked -i README.md >> _site/index.html
        cat .assets/template_end.html >> _site/index.html
        cp *.svg _site/
        cp *.png _site/
        cp *.jpg _site/

    - name: Generate slides
      run: |
        cd lectures
        npm run generate
        npm run staticpdf
        cp -r _static/ ../_site/slides
        cd ..

    - name: Push to gh-pages
      run: |
        git clone --quiet --branch gh-pages --depth 1 https://github.com/${{ github.repository }}.git .gh-pages
        rm -rf .gh-pages/S2021
        mv _site .gh-pages/S2021
        cd .gh-pages
        git add S2021
        git config --local user.email "ckaestne@nomail.cs.cmu.edu"
        git config --local user.name "GitHub Action"
        git commit --allow-empty -m "Update gh-pages for S2021/${{ github.sha }}"
        git push https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:gh-pages --force --follow-tags -v
